* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(75, 61, 200);
  background: linear-gradient(
    22deg,
    rgba(75, 61, 200, 1) 0%,
    rgba(113, 90, 244, 1) 49%,
    rgba(158, 133, 255, 1) 100%
  );
}
.container {
  display: flex;
  width: 854px;
  height: 480px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.left-section {
  flex-basis: 60%;
  background-color: #1a202a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
}

.rigth-section {
  flex-basis: 40%;
  background-color: #1a202a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
}

.box-form label,
input {
  display: inline;
  color: #a2b1c7;
  font-size: 20px;
}

.box-form input {
  width: 150px;
  margin-left: 20px;
  height: 30px;
  color: #bbc5d4;
  border-bottom: 1px solid #414e61;
  background-color: transparent;
}

.buttons input {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #414e61;
  width: 150px;
  height: 50px;
  margin: 0px 20px;
  border-radius: 10px;
}

.planes select {
  background-color: transparent;
  border-bottom: 1px solid #414e61;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: #959eaa;
}

.planes {
  text-align: center;
  color: #adb1ff;
  font-size: 20px;
}
